{% extends "layout.html" %}

{% block body %}
<h3>Makaleler</h3>
<hr>
{% if articles %}
<ul class="list-group">
  <form action="/search" method="post">
    <input type="text" name="keyword" class="input" maxlength="64" placeholder="Ara">
    <button type="submit" class="btn-sm btn-info">Ara</button>

  </form>

  {% for article in articles %}
  <li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li>
  {% endfor %}
</ul>

{% else %}
<div class = "alert alert-danger">Henüz makale yok.</div>
{% endif %}

{% endblock %}
